Leo Puji Christyanto <jjg@google.com> C1431705 <C1431705@bangkit.academy>
Rizqi Akbar Rahmawan <jdobry@google.com> C0090982 <C0090982@bangkit.academy>
Rio Kusumawardana <jdobry@google.com> A1151465 <A1151465@bangkit.academy>
Aldi Amri Yudistira <mukai@google.com> A0090944 <A0090944@bangkit.academy>
Mitha Rachma Putri <lukesneeringer@google.com> M2242160 <M2242160@bangkit.academy>
Dea Nuraisyah Hanum <sawchuk@gmail.com> M2542392 <M2542392@bangkit.academy>